<div class="page-header">
    <div class="pull-left">
        <h1 class="content-title">开放清单</h1>
    </div>
</div>
<div class="dolphin-col-24 main" id="myContent">
    <div class="dolphin-row">
        <div class="dolphin-col-24">
            <div class="panel panel-primary box">
                <div class="panel-heading box-title">
                    <h3 class="panel-title">
                        <i class="fa fa-table fa-lg" aria-hidden="true"></i>
                        开放清单
                    </h3>
                    <div class="actions">
                        <a class="btn btn-mini content-refresh" href="#">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>
                <div id="prtOpenList"></div>
            </div>
        </div>
    </div>
</div>
<script src="<%= global.config.publicPath %>/page/scripts/<%= path %>.js"></script>