<aside id="sidebar" class="sidebar workspaceMenuPanel">
    <h1 class="menu-title"><i class="fui-user icon-menu"></i>客户管理</h1>
    <ul>
        <li class="menu-item myCustomer">
            <a data-menuid="myCustomer" href="javascript:void(0);"><i class="fa fa-group fa-lg icon-menu"></i>我的客户</a>
        </li>
        <li class="menu-item customerLimit">
            <a data-menuid="customerLimit" href="javascript:void(0);"><i class="fa fa-umbrella fa-lg icon-menu"></i>客户限售</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="menu-item creditQuery">
            <a data-menuid="creditQuery" href="javascript:void(0);"><i
                        class="fa fa-reorder fa-lg icon-menu"></i>信用查询</a>
        </li>
        <li class="menu-item goBack">
            <a data-menuid="goBack" href="javascript:void(0);"><i class="fa fa-retweet fa-lg icon-menu"></i>往来账</a>
        </li>
        <li class="menu-item moneyDetail">
            <a data-menuid="moneyDetail" href="javascript:void(0);"><i class="fa fa-tasks fa-lg icon-menu"></i>打款明细</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="menu-item customerAnalysis">
            <a data-menuid="customerAnalysis" href="javascript:void(0);"><i class="fa fa-user-md fa-lg icon-menu"></i>客户分析</a>
        </li>
    </ul>
</aside>
