<div class="page-header">
    <div class="pull-left">
        <h1 class="content-title">账号管理</h1>
        <ul class="fl">
            <li>
                <button class="btn btn-block btn-info newAccount"><i class="fui-plus-circle icon-menu"></i></i>
                    <span>新建账号</span>
                </button>
            </li>
            <li>
                <button class="btn"><i class="anchnet_icon icon_page icon_new"></i><span>重置密码</span>
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="dolphin-col-24 main" id="myContent">
    <div class="panel panel-primary box">
        <div class="panel-heading box-title">
            <h3 class="panel-title">
                <i class="fa fa-table fa-lg" aria-hidden="true"></i>
                账号列表
            </h3>
            <div class="actions">
                <a class="btn btn-mini content-refresh" href="#">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div id="userList" class="box-content"></div>
    </div>
</div>

<div class="modal" id="account_win">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="modal-title">账号维护</span>
            </div>
            <div class="modal-body">
                <div class="tab-pane">
                    <form class="form-horizontal edit-form">
                        <input type="hidden" class="form-control" name="id">
                        <input type="hidden" name="type" value="1">
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">账号名称</label>
                            <div class="col-md-6">
                                <input class="form-control" name="name" type="text" dol-validate="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">账号编码</label>
                            <div class="col-md-6">
                                <input class="form-control" name="code" type="text" dol-validate="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">所属渠道</label>
                            <div class="col-md-6">
                                <input class="form-control" name="channel" type="text" dol-validate="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">公司组织</label>
                            <div class="col-md-6">
                                <select class="form-control selectpicker" multiple name="company"
                                        dol-validate="required">
                                    <option value="3008">3008</option>
                                    <option value="3011">3011</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">手机号码</label>
                            <div class="col-md-6">
                                <input class="form-control" name="mobile" type="text" dol-validate="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">电子邮件</label>
                            <div class="col-md-6">
                                <input class="form-control" name="email" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">人员性别</label>
                            <div class="col-md-6">
                                <select class="form-control" name="sex">
                                    <option value=""></option>
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn_submit">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="<%= global.config.publicPath %>/page/scripts/<%= path %>.js"></script>