<div class="page-header">
    <div class="pull-left">
        <h1 class="content-title">组织结构</h1>
        <ul class="fl">
            <li>
                <button class="btn btn-block btn-info newOrg"><i class="fui-plus-circle icon-menu"></i></i>
                    <span>新建组织</span>
                </button>
            </li>
            <li>
                <button class="btn btn-block btn-success relationAccount"><i class="fui-user icon-menu"></i>
                    <span>组织人员更新</span>
                </button>
            </li>
            <li>
                <button class="btn btn-block btn-inverse updateOrg"><i class="fa fa-edit icon-menu"></i></i>
                    <span>修改组织</span></button>
            </li>
        </ul>
    </div>
</div>
<div class="dolphin-col-24 main" id="myContent">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary box">
                <div class="panel-heading box-title">
                    <h3 class="panel-title">
                        <i class="fa fa-table fa-lg" aria-hidden="true"></i>
                        组织树
                    </h3>
                </div>
                <div id="orgTree"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-success" id="enum_option">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list fa-lg" aria-hidden="true"></i>
                        组织人员
                    </h3>
                </div>
                <div id="accountList"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="org_win">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="modal-title">组织维护</span>
            </div>
            <div class="modal-body">
                <div class="tab-pane">
                    <form class="form-horizontal edit-form">
                        <input type="hidden" class="form-control" name="id">
                        <input type="hidden" name="type" value="1">
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">组织名称</label>
                            <div class="col-md-6">
                                <input class="form-control" name="name" type="text" dol-validate="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">组织编码</label>
                            <div class="col-md-6">
                                <input class="form-control" name="code" type="text" dol-validate="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">父级组织</label>
                            <div class="col-md-6">
                                <input class="form-control" name="parent.id" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-1 col-md-2 control-label">公司组织</label>
                            <div class="col-md-6">
                                <select class="form-control selectpicker" multiple name="company"
                                        dol-validate="required">
                                    <option value="3008">3008</option>
                                    <option value="3011">3011</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn_submit">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="org_relation_win">
    <div class="modal-dialog" style="width: 60%;left: 20%;top: 5%;">
        <div class="modal-content" style="max-height: 600px;min-height: 400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="modal-title">组织人员维护</span>
            </div>
            <div class="modal-body">
                <div class="dolphin-row">
                    <div class="dolphin-col-9">
                        <div id="selectedList"></div>
                    </div>
                    <div class="dolphin-col-3" style="margin-top: 50px;">
                        <button class="btn btn-info btn-block selectbtn" change="select" all="true">&lt;&lt;</button>
                        <button class="btn btn-info btn-block selectbtn" change="select">&lt;</button>
                        <br/><br/>
                        <button class="btn btn-success btn-block selectbtn" change="unSelect">&gt;</button>
                        <button class="btn btn-success btn-block selectbtn" change="unSelect" all="true">
                            &gt;&gt;</button>
                    </div>
                    <div class="dolphin-col-12">
                        <div id="unselectedList"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary relation_submit">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script src="<%= global.config.publicPath %>/page/scripts/<%= path %>.js"></script>